@mixin container {
  margin: 0 auto;
  width: var(--container-width);
  max-width: var(--max-width);
}

@mixin flex-container {
  @include container;

  display: flex;
  align-items: center;
}

@mixin page-container {
  @include container;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 40px;
  padding-bottom: 40px;
}
