@mixin container {
  margin: 0 auto;
  width: var(--container-width);
  max-width: var(--max-width);
}

@mixin flex-container {
  @include container;

  display: flex;
  align-items: center;
}

@mixin page-container {
  @include container;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 40px;
  padding-bottom: 40px;
}

@mixin box {
  background-color: var(--color-bg-helper);
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px -6px var(--color-text);
}
