*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

button:focus-visible,
input:focus-visible {
  outline-offset: -1px;
  outline: 2px solid var(--color-heading);
}

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* global vars */
  --max-width: 1280px;
  --container-width: 90%;
  --header-height: 60px;

  --color-white: #fff;

  --color-bg: var(--sapBackgroundColor);
  --color-bg-helper: var(--sapBaseColor);
  --color-text: var(--sapTextColor);

  --color-primary: var(--sapBrandColor);
  --color-secondary: var(--sapBrandColor);
  /* -- */

  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  margin: 0;
}
