*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

button:focus-visible,
input:focus-visible {
  outline-offset: -1px;
  outline: 2px solid var(--color-heading);
}

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* global vars */
  --color-white: #fff;

  --color-gray-1: #e6edf3;
  --color-gray-2: #464a4e;
  --color-gray-3: #2e3236;
  --color-gray-4: #242424;

  --max-width: 1280px;
  --container-width: 90%;
  /* -- */

  color: var(--color-text);
  background-color: var(--color-bg);
}

body {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    /* scheme vars */
    --color-bg: var(--color-white);
    --color-bg-helper: var(--color-gray-1);
    --color-text: var(--color-gray-3);
    --color-highlight: var(--color-gray-2);
    --color-heading: var(--color-gray-4);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* scheme vars */
    --color-bg: var(--color-gray-4);
    --color-bg-helper: var(--color-gray-3);
    --color-text: var(--color-gray-1);
    --color-highlight: var(--color-gray-1);
    --color-heading: var(--color-white);
  }
}
